* {
	margin: 0;
	padding: 0
}
body {
	background: url(images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.destroy {
	display: none
}
.container {
	width: 100%;
	position: relative
}
.container button {
	position: absolute;
	vertical-align: middle;
	font-family: Microsoft Yahei;
	font-size: 2rem;
	font-weight: bold;
	border: 3px solid #ccc;
	outline: none;
	width: 6rem;
	height: 3rem;
	line-height: 2rem;
	margin: 0.5rem;
	color: #666;
	border-radius: 3rem;
	left: 0;
	top:-50px;
}
.hidden {
	display: none
}
.info {
	position: absolute
}
.info ul {
	list-style: none;
	font-size: 24px;
	font-weight: normal;
	font-family: Microsoft Yahei;
	color: #666
}
.info ul li {
	text-align: right
}
.info ul li span {
	display: inline-block;
	width: 6rem;
	text-align: left;
}
